@import 'bootstrap';
@import 'bootstrap/theme';
// @import 'font-awesome';

body {
  background-color: #d9dbbc;
  text-align: left;
  padding-top: 50px;
  padding-left: 0;
}

html {
  font-family: monospace;
  font-color: #69585f;
  padding: 0;
}

nav {
  background-color: #b8d8ba;
}

#everything {
  text-align: left;
}

#playlist-list {
  text-align: left;
}

.navbar-fixed-top {
  border: 0;
  background: #69585f;
  color: #ef959d;
}

.btn {
  // background: #ef959d;
  padding: 5px 10px;
  margin-top: 5px;
}

#title {
  background-image: image('../../public/images/trebl_background_2.png');
}
