{{comment-song-snippet playlist=model}}
{{!-- {{input type="desc" id="desc" placeholder="Comment here!" value=desc}} --}}
<h3>Search below to add a new track!</h3>
{{song-search-form submit="songSearch"}}
{{comment-song-results submit="createCommentAndSong" playlist=model}}
