<div id="playlist-list">
<hr>
<h2>{{playlist.song.title}}</h2>
        <label for="desc">Description</label>
        {{input type="desc"
                id="desc"
                placeholder="Description"
                value=comment.desc}}

<button class="btn btn-default" type="submit" {{action "updateComment"}}>Make it</button>
</div>
