<div id="song-list">
<ul>
{{#each songResults as |song|}}
  <li>{{song.title}}     <button class="btn btn-default"{{action "playTrack" song.id}}>Play</button>
                         <button class="btn btn-default"{{action "stopTrack" song.id}}>Stop</button>
                         {{#link-to 'create-playlist'}}<button type="submit" class="btn btn-default">Use this song!</button>{{/link-to}}</li>
{{/each}}
</ul>
</div>

{{yield}}
